<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
    <div class="edit">
    <h3>write new chat..</h3>

    <form method="post" action="/chats">
        <input placeholder="who are you" name="from" ><br><br>
        <textarea  name="msg" rows="10" cols="30">write your message here..</textarea><br><br>
        <input placeholder="add reciever" name="to"><br><br>
        <button>submit </button>
    </form>
    </div>
</body>
</html>